/*Create background for grid*/
#container {
    border: 1px solid black;
    border-bottom: none;
    height: 500px;
    width: 500px;
    margin: 10px auto;
}

/*To create blank boxes*/
.square {
    margin: 0;
    height: 49px;
    width: 49px;
    display: inline-block;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

/*Change hovered box color*/
.square-hover {
  background-color: red;
}

/*Centers user-input area*/
#user-input {
  text-align: center;
}

/*Give buttons cleaner look*/
.buttons {
  font-family: arial, sans-serif;
  background-color: red;
  border-radius: 2px;
  border: 2px solid red;
  width: 70px;
  height: 30px;
}

#text-field {
  font-size: 20px;
  border-radius: 1px;
  border: 1px solid blue;
  text-align: right;
}

h1 {
  text-align: center;
}
